@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

 

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* CSS RESET */

:root {
    --blue: #0D99FF;
    --dark-blue: #0A7ACC;
    --light-blue: #CFEBFF;
    --shadow: 0 .5rem 1rem rgba(0,0,0,.05);
    --dark-grey: #222;
    

    --button: white;
    --body: #1a1a1a;
    --text: #fff;

    --rounded: .25rem;
    --rounded-md: .5rem;
    
    
      }

/* GLOBAL STYLES */

body {
  font-family: 'Outfit', sans-serif;
  color: var(--text);
  background: linear-gradient(90deg, var(--body) 31px, transparent 1px), linear-gradient(180deg, var(--body) 31px, var(--blue) 1px);
  background-size: 32px 32px;
}

body.no-scroll {
  overflow: hidden;
}

section,
header {
    padding: 5rem 0;
    scroll-margin-top: 2rem;
}

.btn {
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--button);
}

.btn-blue:hover {
  background-color: var(--dark-blue);
}


.section-title {
  padding-left: 1rem;
  border-left: .5rem solid var(--blue);
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

/* GLOBAL STYLES */




/* NAVBAR */

 
nav {
  background-color: var(--dark-grey);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: box-shadow 0.2s;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for the menu items */
.navbar-menu {
  margin: 0;
  padding: 0;
  display: flex; /* Display menu items in a row */
}

.navbar-menu-item {
  text-decoration: none;
  color: var(--white);
  margin: 0 1rem; /* Adjust the spacing between menu items */
}

.navbar-menu-item:hover {
  color: var(--blue); /* Change color on hover */
}


/* HERO*/

.header-title {
  max-width: 1024px;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.header-description {
  max-width: 640px;
  margin-bottom: 4rem;
}

.header-action {
  display: flex;
  align-items: center;
}


.header-action-link {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.header-action-link-item {
  text-decoration: none;
  margin: 0 .5rem;
  font-size: 1.25rem;
}

.btn-blue:hover {
  background-color: var(--dark-blue) !important;
}


/* WORKS*/

.works 
{
  padding-left: 50px;
}

.work-wrapper {
  display: flex;
  justify-content: center;
}

.work-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 1.5rem;
  max-width: 1200px; /* Optional: Limit the width of the grid */
  width: 100%;
  padding: 0 15px; /* Optional: Add horizontal padding to align with container */
}



.work-item {
  background-color: var(--dark-grey);
  box-shadow: var(--darkreader-bg--shadow);
  padding: 1.5rem;
  border-radius: var(--rounded-md);
  transition: transform .2s;
}

.work-item:hover {
  transform: translateY(-.5rem);
}

.work-item-image-wrapper {
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: var(--rounded);
}

.work-item-image {
  width: 100%;
  display: block;
  transition: transform .2s;
}

.work-item-image:hover {
  transform: scale(1.1);
}

.work-item-link {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.work-item-link:hover {
  color: var(--blue);
}

.tech-item {
  display: inline-block;
  padding: .25rem .5rem;
  border-radius: var(--rounded);
  background-color: var(--darkreader-text--grey);
  color: var(--blue);
  font-size: .875rem;
  font-weight: 500;
  margin-right: .25rem;
}

/* CONTACT ME*/

.contact-me {
  padding-left: 33px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-wrapper {
  text-align: center;
}

.btn-blue:hover {
  background-color: var(--darkreader-text--grey)
}

@media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}


@media screen and (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
}