:root {
    --darkcolour: #1a1c1d;
    --blue: rgb(65, 165, 247);
    --body: #1a1a1a;
    --rounded-md: .5rem;
    --darkreader-bg--shadow: 0 .5rem 1rem rgba(0,0,0,.05);
    --rounded: .25rem;
    --darkreader-text--grey: #d3cfc9;
    --dark-grey: #222;
    --button: white;
      }

/* GLOBAL STYLES */

.btn {
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
}
.btn-blue {
  background-color: var(--blue);
  color: var(--button);
}

.section-title {
  padding-left: 1rem;
  border-left: .5rem solid var(--blue);
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background: linear-gradient(90deg, var(--body) 31px, transparent 1px), linear-gradient(180deg, var(--body) 31px, var(--blue) 1px);
  background-size: 32px 32px;
  color:#FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p, {
  margin: 0;
  padding: 0;
}

 

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* NAV */

  .navbar-logo img{
    width 50px;
  }

 nav {
    background-color: var(--darkcolour);
    padding: 1rem;
    top: 0;
    z-index: 100;
    display:
}

.navbar-wrapper {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--dark-grey);
}


.navbar-menu {
  margin-bottom: 0.25rem;
}

.nav-bar-wrapper a{
  align-items: right;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.8;
}

/* HERO*/

.hero-banner {
  display: flex;
  align-items: center;
  padding: 50px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.hero-text {
  flex: 1;
  margin-right: 20px;
  max-width: 65%; /* Adjust this as needed */
}

.profile-picture-container {
  flex-shrink: 0;
  width: 200px;
  align-self: flex-end; /* Align to the bottom on smaller screens */
}

.profile-picture-container img {
  width: 100%;
  border-radius: 50%;
}





10px;
}
.github-link {
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
}

.github-link img {
  width: 30px; 
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
  filter: invert(1);
}

.github-link:hover {
  opacity: 0.8;
}

.profile-picture-container {
  flex-shrink: 0; 
  width: 200px; 
}

.profile-picture-container img {
  width: 100%;
  border-radius: 50%; 
}

/* WORKS*/

.works 
{
  padding-left: 50px;
}

.work-wrapper {
  display: flex;
  justify-content: center;
}

.work-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* repeat(auto-fill, minmax(250px, 1fr)); */
  gap: 1.5rem;
  max-width: 1200px; /* Optional: Limit the width of the grid */
  width: 100%;
  padding: 0 15px; /* Optional: Add horizontal padding to align with container */
}



.work-item {
  background-color: var(--dark-grey);
  box-shadow: var(--darkreader-bg--shadow);
  padding: 1.5rem;
  border-radius: var(--rounded-md);
  transition: transform .2s;
}

.work-item:hover {
  transform: translateY(-.5rem);
}

.work-item-image-wrapper {
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: var(--rounded);
}

.work-item-image {
  width: 100%;
  display: block;
  transition: transform .2s;
}

.work-item-image:hover {
  transform: scale(1.1);
}

.work-item-link {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.work-item-link:hover {
  color: var(--blue);
}

.tech-item {
  display: inline-block;
  padding: .25rem .5rem;
  border-radius: var(--rounded);
  background-color: var(--darkreader-text--grey);
  color: var(--blue);
  font-size: .875rem;
  font-weight: 500;
  margin-right: .25rem;
}

/* CONTACT ME*/

.contact-me {
  padding-left: 33px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-wrapper {
  text-align: center;
}

.btn-blue:hover {
  background-color: var(--darkreader-text--grey)
}

@media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}


@media screen and (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
}